annotated-types
anyio
click
colorama
exceptiongroup
fastapi
h11
httpx
idna
iniconfig
joblib
numpy
packaging
pip
pluggy
pydantic
pydantic_core
pytest
scikit-learn
SciPy
setuptools
sniffio
starlette
threadpoolctl
tomli
typing_extensions
uvicorn
wheel
--only-binary=:all: